input {
  width: 100%;
  height: 46px;
  font-size: 1em;
  margin: 0;
  padding: 1.2em;
  border-radius: 2em;
  border: 1px solid;
  font: normal 13px/30px Inter, sans-serif;
  /* background-color: rgb(238, 238, 238); */
}
input[type="button"] {
  width: 100%;
  font-size: 0.9em;
  margin: 0;
  padding: 1em;
  border-radius: 2em;
  border: none;
  color: #fff;
  font-weight: bold;
  background-color: rgb(7, 6, 6);
  font: normal 13px/30px Inter, sans-serif;
}
input[type="button"]:hover {
  box-shadow: 3px 3px rgb(238, 238, 238);
}

input:focus {
  border: 0.2px thin rgb(227, 239, 248);
}

.input_section {
  /* width: 100%; */
  border-radius: 0.7em;
  color: #000;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
}
