// ===== POSSIBLE GLOBAL STYLES START ======
$dark  : #000000;
$red: #dc3545;

* {
    margin    : 0;
    padding   : 0;
    box-sizing: border-box;
}


// ======= CREATE SIGNUP FORM ========

.login-form {

    font-style: normal;
    font-weight: 400;
    font-family: "Inter";

    .modal-content {
        border-radius: 20px;

        .modal-header {
            border-bottom: none;
            justify-content: center;
            flex-direction: column;

            .modal-title {
                font-size: 24px;
                line-height: 52px;
                text-align: center;
            }

            .sub-title {
                line-height: 36px;
            }

            span {
                cursor: pointer;
                
                u {
                    font-weight: 700;
                }
            }

            button {
                position: absolute;
                width: 24px;
                height: 24px;
                right: 30px;
                top: 30px;
                border-radius: 20px;
                background-color: #E7E7E7;
                font-size: 12px;
            }

            .response {

                // &.200 {
                    color: $red;
                // }
            }
        }

        .modal-body {
            form {
                label, .form-control, select {
                    font-size: 13.5px;
                }

                .mb-5 {
                    margin-bottom: 2rem !important;
                }

                .form-control {
                    border-radius: 46px;
                    padding: 0.7rem 2.25rem 0.7rem 0.75rem;
                    border: 1px solid #000000;
                }

                .forgot-pass {
                    float: right;
                    line-height: 28px;
                    cursor: pointer;
                }

                i {
                    &.eye {
                        float: right ;
                        margin-top: -38px;
                        margin-right: 15px;
                        font-size: 20px;
                    }
                }

                .form-control {
                    &:focus {
                        border: 1px solid #4AA0EF;
                        box-shadow: none;
                    }
                }
            }
        }
    }

    .btn-block {
        display: flex;
        justify-content: center;
        margin-top: 44px;

        button {
            // SIZES
            width: 148px;
            height: 46px;

            // COLORS
            background-color: $dark;

            // BUTTON BORDER STYLES
            border: none;
            border-radius: 48px;
            box-shadow   : 0px 2px 4px rgba(0, 0, 0, 0.15);
            
            // FONT SHORTHAND: style, variant, weight, size/line-hight, family
            font: normal 600 14px/17px Inter, sans-serif;
        }
    }
}


@media screen and (min-width: 576px) {

    .login-form {

        .modal-content {
            padding : 60px;

            .modal-header{

                .modal-title {
                    font-size: 38px;
                }
            }

            .modal-body {

                form {

                }
            }
        }
    }
}
